<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <Link rel="SHORTCUT ICON" href="img/icon.png"/>
      <style>
      body {
          background-color: #FFE184;
      }
    </style>
      <title>Listando</title>
  </head>

  <body>

    <div align="center">
      <header>

        <img src="img/capa.png">

      </header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <div class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </div>
          {% else %}
          <div><a href="register">Registre-se</a></div>
          <div class="nav-item">
            <a class="nav-link" href="/login">Entrar</a>
          </div>

          {% endif %}
        </ul>
      </nav> 

    </div>
  </body>

</html>
