<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset='utf-8'>
		<title>Listando</title>
		<Link rel="SHORTCUT ICON" href="img/icon.png"/>


		<style>
			body {
    			background-color: #FFE184;
			}
		</style>

	</head>

	<body>

		<header align="center">

			<img src="img/capa.png">

		</header>
		
		<!--Register--> 
		<div align="center">
			<!--<p> <a href="/profile">Meu Perfil</a> </p>-->
			<a class="nav-link" href="/logout">Logout</a>
			<p></p>
			<p></p>
			
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p}}
					<input type="submit"  value="Gerar Lista">
				</form>
			
		</div>

	</body>

</html>
