<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Listando</title>
    {% load static %}
    <link rel="SHORTCUT ICON" img src="{% static 'icon.png' %}" />

    <style>
      body {
        background-color: #ffe184;
      }
      .capa {
        margin: auto;
        padding: 10px;
        width: 30%;
      }
      .texto {
        text-align: center;
      }
      .submit-button {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      }
      .grande {
        font-size: 30px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div class="capa">
      <header align="center">
        {% load static %}
        <img src="{% static 'capa.png' %}" width="400" height="141" />
      </header>
    </div>
    <div class="texto">
      <a href="{% url 'main:homepage' %}"> Página inicial </a>
      <br></br>
    </div>
    <!--Register-->
    <div class="texto grande">Monte aqui sua lista!</div>
    <div class="texto">
      Informe a quantidade de questões que você deseja de cada assunto:
    </div>
    <br></br>
    <div align="center">
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <br></br>
        <input type="submit" value="Gerar Lista" class="submit-button" />
      </form>
    </div>
  </body>
</html>
