<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Listando</title>
    {% load static %}
    <link rel="SHORTCUT ICON" img src="{% static 'icon.png' %}" />

    <style>
      body {
        background-color: #ffe184;
      }
    </style>
  </head>

  <body>
    <header align="center">
      {% load static %}
      <img src="{% static 'capa.png' %}" width="400" height="141" />
    </header>

    <!--Register-->
    <div align="center">
      <div>Bem vindo, {{username|safe}} - Nível {{lvl|safe}}.</div>
      <div>
        Você completou {{n|safe}} listas, totalizando {{q|safe}} questões!
      </div>
      <form method="POST">
        {% csrf_token %} {{ form.as_p}}
        <input type="submit" value="Gerar Lista" />
      </form>
    </div>
  </body>
</html>
